h1 {
    font-family: 'Courier New', Courier, monospace ;
    font-size: 40px;
    text-shadow: 3px 3px 3px #CCCCCC;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 3%;
}

.form-horizontal{
    display:block;
    width: 50%;
    margin:0 auto;
}

.form-group p {
    padding-top: 1%;
}

p.form-group.conv-result {
    margin-top: 50px;
}

.error-msgs {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: tomato;
    font-size: 20px;
}

.conv-result {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #03C03C;
    font-size: 30px;
}